@import url('https://fonts.googleapis.com/css?family=Aguafina+Script|MedievalSharp');

* {

    font-family: 'MedievalSharp', cursive !important;
}

p {
    font-family: 'Aguafina Script', cursive !important;
}

#startingup {

    background-image: url(../images/levels/level_1.jpg) !important;
    background-size: 80%;
    height: -webkit-fill-available !important;
    border-radius: 20px !important;
    margin-top: 99px;
    width: 81%;
    background-repeat: no-repeat;
    background-position: top;
}

#game_window {
    display: none;
    margin-top: -1px;
    background-image: url(../images/levels/start_game.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 713px;

}

#game {

}

.tile{
    display: inline-block;
    width: 100px;
    font-size: 75px;

}

.display-3 {
    position: fixed;
    z-index: 2;
    top: 239px;
    width: 144px;
    text-align: center;
    left: 125px;
    color: #6c757d6e;
    -webkit-text-stroke: 2px #212529;
}

footer {

    position: absolute;
    height: 60px;
    bottom: 0;
    padding: 10px;
    color: black;
}

#letterGroup {

    text-align: center;

}

#start {
    cursor: pointer;
    left: 6%;
    bottom: 40%;
    width: 300px;
    height: 75px;
    font-size: 33px;
    text-align: center;
    text-shadow: 1px 2px 10px black;
    box-shadow: 4px 4px 10px 0px #adb5bd;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 2px solid lightgray;
    border-left: 2px solid grey;
}

.infoStatus1,
.infoStatus2,
.infoStatus3 {
    display: block;
    position: relative;
    top: 31px;
    margin-right: 10px;
    width: 100%;
    margin-top: -36px;
    margin-left: 10px;

}

.infoStatus1 img,
.infoStatus2 img,
.infoStatus3 img {
    max-width: 100%;

}

.infoStatus1,
.infoStatus2,
.infoStatus3 {
    display: block;
    position: relative;
    top: 31px;
    margin-right: 15px;
    width: 100%;
    margin-top: -33px;
    margin-left: 61px;
}

.Score {
    left: 42px;
    color: white;
    position: absolute;
    bottom: 45px;
    letter-spacing: 4px;
    font-size: 50px;
    text-shadow: -2px -2px 8px black;
}

#wins {

    font-size: 100%;
    text-align: right;
    margin-left: 95px;

}

#guessesleft {
    font-size: 100%;
    text-align: right;
    margin-left: 95px;
}

#level {
    font-size: 100%;
    text-align: right;
    margin-left: 95px;
}

#woodBeam1 {
    display: block;
}

#woodBeam1 img {

}

.round-more {

    border-radius: 20px !important;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.46) !important;
    margin: auto;
}

body {
    background-color: white !important;
}

#lettersUsed {
    color: white;
    z-index: 150;
    position: absolute;
    display: block;
    bottom: -8px;
    left: 30px;
}

.toggle {
    display: none;
    opacity: 0;
    overflow: hidden;
    transition: opacity 500ms ease-in-out;

}

.toggle.show {
    display: block;
    opacity: 1;
}


#title {
    display: none;
    overflow: hidden;
    position: absolute;
    background: #ffffff7a;
    border-radius: 10px;

    padding: 31px;
    font-size: 57px;
    text-align: center;
    box-shadow: 13px 16px 20px 0px rgba(0, 0, 0, 0.42);
    left: 45px;
}

#title:hover {
    width: 600px;
    transition: width 2s;
    display: block;
}

#letterGroup {
    text-align: center;
    /* margin-top: 15%; */
    margin-left: 0;

}

.letters-col {
    background-color: #ffffff80;
    margin-top: 2px;
    margin-bottom: -80px;
    display: flex;
    box-shadow: inset 0px 0px 11px 3px #030303ab;
}


.ui-text {
    text-align: center;
    font-size: 46px;
    position: absolute;
    margin-left: -35px;
    line-height: 0.9;
    border: 1px solid;
    border-radius: 10px;
    padding: 23px;
    background-color: #721c24;
    color: white;
    box-shadow: 0px 8px 11px 2px #00000085;
    z-index: 250;

}

.used {
    font-size: 60px;
    color: black;
    
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px 11px 5px 11px;
    box-shadow: 10px 9px 15px 0px #00000087;
    margin-left: 9px;
    min-width: 85px !important;
    display: inline-block;
    text-align: center;
    margin-bottom: 8px;
    animation: bounce-in-top 1.1s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
}
.fill-no{
    background-image: linear-gradient(#ecebeb, darkred);
}
.fill-yes{
    background-image: linear-gradient(rgb(228, 233, 228), rgb(9, 36, 11));
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-29 16:46:10
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.swing-in {
    animation: swing-in-top-bck 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.5s both;
}

.swing-out {
    animation: swing-in-top-bck 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) reverse both;
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes swing-in-top-bck {
    0% {
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}