@import url('https://fonts.googleapis.com/css?family=Aguafina+Script|MedievalSharp|Oleo+Script');

* {

    font-family: 'MedievalSharp', cursive !important;
}

/* p {
    font-family: 'Aguafina Script', cursive !important;
} */
.tile{
    font-family: 'Oleo Script';
}
body{
   
     background-image: url(../images/levels/start_game.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
}
#navtop{
    display: none;
}

#game_window {
    display: none;
           
}

.tile{
        
    position: relative;
    font-size: 70px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: underline;
    bottom: 310px;
    text-align: center;
}




#letterGroup {

        text-align: center;
        margin-top: 2%;
        margin-left: 0;
}



.info1,
.info2,
.info3 {
   position: fixed;
}
.info1 .Score {
  position: absolute;
  font-size: 25px;
  text-align: right;
  color: white;
  top: 63px;
  left: 60px;
  z-index: 20000;
  text-shadow: -2px -1px 0px black;

}
.info2 .Score {
position: absolute;
font-size: 25px;
text-align: right;
color: white;
top: 63px;
left: 60px;
z-index: 20000;
text-shadow: -2px -1px 0px black;
}
.info3 .Score {
  position: absolute;
  font-size: 25px;
  text-align: right;
  color: white;
  top: 63px;
  left: 60px;
  z-index: 20000;
  text-shadow: -2px -1px 0px black;
}

#wins {
   font-size: 25px;
   text-shadow: -2px -1px 0px black;
}
#alertIconImage img {
    width: 64px;
    margin-left: 25%;
}
#alertMessage p{
    text-align: center;
    float: left;
    font-size: 30px;
}
#guessesleft {
    font-size: 25px;
    text-shadow: -2px -1px 0px black;
}

#level {
     font-size: 25px;
     text-shadow: -2px -1px 0px black;
}

.round-more {

    border-radius: 20px !important;
}
#lettersUsed {
            left: 127%;
            z-index: 200;
            position: relative;
            height: 257px;
            width: 400px;
            background-color: #ffffff3b;
            box-shadow: inset 0px 0px 12px 1px grey;
            border-left: 3px solid black;
            border-right: 3px solid black;
            border-bottom: 3px solid black;
}
#title {
            bottom: 122px;
            position: absolute;
            background: #ffffff7a;
            border-radius: 10px;
            font-size: 20px;
            text-align: center;
            box-shadow: 13px 16px 20px 0px rgba(0, 0, 0, 0.42);
            top: 72%;
            left: 33%;
            right: 33%;
            width: 33%;
            padding: 21px;
}


#letterGroup {
    text-align: center;
    margin-left: 0;

}

.letters-col {
    position: relative;
    background-color: #ffffff80;
    box-shadow: inset 0px 0px 11px 3px #030303ab;
}


.ui-text {

        text-align: center;
        font-size: 20px;
        position: fixed;
        top: 0;
        right: 75px;
        border: 1px solid;
        border-radius: 10px;
        padding: 23px;
        background-color: #721c24;
        color: white;
        box-shadow: 0px 8px 11px 2px #00000085;
        z-index: 250;

}

.used {
       font-size: 20px;
       color: white;
       border: 2px solid grey;
       border-radius: 5px;
       padding: 5px 11px 5px 11px;
       box-shadow: 10px 9px 15px 0px #00000087;
       margin-left: 15px;
       min-width: 45px !important;
       display: inline-block;
       text-align: center;
       margin-top: 9%;
       animation: bounce-in-top 1.1s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
}
.fill-no{
    background-image: linear-gradient(#ecebeb, darkred);
}
.fill-yes{
    background-image: linear-gradient(rgb(228, 233, 228), rgb(9, 36, 11));
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-29 16:46:10
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes swing-in-top-bck {
    0% {
        transform: rotateX(70deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}